In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import panel as pn
import matplotlib.font_manager

In [2]:
df_obs=pd.read_csv(r'C:\Users\Admin\Desktop\Notebooks\Biodiversity\biodiversity_starter\observations_file.csv')
df_species= pd.read_csv(r'C:\Users\Admin\Desktop\Notebooks\Biodiversity\biodiversity_starter\species_info.csv')

In [3]:
df_obs.head()

            scientific_name                            park_name  observations
0        Vicia benghalensis  Great Smoky Mountains National Park            68
1            Neovison vison  Great Smoky Mountains National Park            77
2         Prunus subcordata               Yosemite National Park           138
3      Abutilon theophrasti                  Bryce National Park            84
4  Githopsis specularioides  Great Smoky Mountains National Park            85

In [4]:
print(df_obs.scientific_name.unique())
print(df_obs.park_name.unique())

['Vicia benghalensis' 'Neovison vison' 'Prunus subcordata' ...
 'Ranunculus hebecarpus' 'Gulo gulo' 'Dichanthelium depauperatum']
['Great Smoky Mountains National Park' 'Yosemite National Park'
 'Bryce National Park' 'Yellowstone National Park']

In [5]:
df_merged=pd.merge(df_species, df_obs)

In [6]:
#create new dataframe for names and count of observation per park
df_per_park = df_merged.groupby(['park_name', 'scientific_name',
            'common_names', 'category'])['observations'].sum().reset_index()

In [7]:
#splitting the common name and taking only the first name
df_per_park.common_names=df_per_park.common_names.astype('str')
name_split=df_per_park.common_names.str.split(',')
# print(name_split.head(50))
df_per_park['common_names']=name_split.str.get(0)
df_per_park['common_names']=df_per_park.common_names.replace('Western Needle Grass', 'Western Needlegrass')
df_per_park.isnull().sum()

park_name          0
scientific_name    0
common_names       0
category           0
observations       0
dtype: int64

In [8]:
#In order for us to fit a number of unique species in a graph,
#we need to add a new category genus from the scientific name
#splitting the common name and taking only the first name

df_per_park.scientific_name=df_per_park.scientific_name.astype('str')
name_split=df_per_park.scientific_name.str.split(' ')
# print(name_split.head(50))
df_per_park['genus']=name_split.str.get(0)

#save a csv copy for the cleaned file
# df_per_park.to_csv('C:\\Users\\Admin\\Desktop\\Notebooks\\Biodiversity\\biodiversity_starter\\observations_clean.csv')
df_per_park.isnull().sum()

park_name          0
scientific_name    0
common_names       0
category           0
observations       0
genus              0
dtype: int64